{{ define "main" }}
  <main>
    <header class="home-page-header">
      <h1>{{ .Title }}</h1>
    </header>
    <div class="home-page-content">
      {{ .Content }}
    </div>
    <div>
      <h2>Work Experience</h2>
      {{ range where .Site.RegularPages "Type" "work" }}
        <div class="work-title">
          <h3>{{ .Title }}</h3>
          <time>{{ .Params.start }} - {{ .Params.end }}</time>
        </div>
        <div class="work-url">
          <a href="{{ .Params.url }}">Website</a>
        </div>
        {{ .Content }}
      {{ end }}
    </div>
  </main>
{{ end }}

